* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.hero{
    position: relative;
    background-image: url("https://ik.imagekit.io/liamallen34/Kachow_Images/shutterstock_1724611486.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1668619841318");
    width: 100%;
    height: 700px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

header h1{
    position: absolute;
    left: 50%;
    top: 300px;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 40%;
    color: white;
    font-size: 60px;
    font-family: "Bree Serif", serif; 
}

header h2{
    position: absolute;
    left: 50%;
    top: 500px;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 40%;
    color: white;
    font-size: 40px;
    font-style: italic;
    font-family: "Bree Serif", serif;    
}

header img{
    height: 25px;
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1)
}

.pop{
    font-size: 40px;
    margin: 20px 0 0 10%;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    font-family: "Bree Serif", sans-serif;
}

.container{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    margin: 20px 10% 0 10%;
}
.card {
    width: 450px;
    height: 300px;
    margin: 5px auto;
}

.res-card{
    width: 100%;
    height: 250px;
    border-radius: 12px;
    transition: transform .2s;
}
.card h4{
    padding: 0 0 3px 10px;
    font-family: "Roboto", sans-serif;
}
.card p{
    padding-left: 10px;
    color: rgb(101, 100, 100);
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}


a:hover{
    cursor: pointer; 
}

.res-card:hover {
    transform: scale(1.15);
}

.info-boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-grow: 1;
    margin: 150px 50px 50px 50px;
    font-family: "Roboto", sans-serif;
    text-align: center;
}

.info-box{
    width: 250px;
    height: 400px;
    margin-bottom: 300px;
}

.info-box img{
    width: 100%;
}

.info-box h3{
    font-size: 200%;
    padding: 20px 0;
}

.info-box p{
    font-size: 110%;
    font-weight: 600;
}


footer{
    position: absolute;
    bottom: 0;
    text-align: center;
    margin: 50px 0 0 0;
    height: 200px;
    font-size: 200%;
    font-family: "Bree Serif", sans-serif;
    background-color: rgb(31, 29, 29);
    width: 100vw;
    left: calc(-50vw + 50%);
}

footer img{
    height: 30px;
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1)
}

footer h2{
    margin-top: 50px;
    color: white;
    font-style: italic;
}

@media screen and (max-width: 1800px){
    .container {
        margin: 20px 5% 0 5%;
    }
}

@media screen and (max-width: 1600px){
    .card{
        width: 400px;
        height: 250px;
        margin: 25px auto;
    }
}

@media screen and (max-width: 1300px){
    .card{
        height: 350px;
        width: 500px;
    }
}

@media screen and (max-width: 1200px){
    header h1{
        width: 60%;
        top: 300px;
        transform: translate(-50%, -50%);
    }
    header h2{
        width: 60%;
        top: 450px;
        transform: translate(-50%, -50%);
    }
}

@media screen and (max-width: 1111px) {
    .card {
        width:400px;
        height: 250px;
    }
}

@media screen and (max-width: 986px){
    header h1{
        width: 80%;
    }
    .container{
        margin: 20px 0 0 0;
    }
    .info-boxes{
        margin: 60px 0 50px 0
    }
    .info-box{
        width: 150px;
        height: 225px;
        font-size: 12px;
    }
}
@media screen and (max-width: 800px){
    header h1{
        font-size: 40px;
        top: 300px;
        transform: translate(-50%, -50%);

    }
    header h2{
        font-size: 30px;
        top: 450px;
        transform: translate(-50%, -50%);
    }
    .card{
        width: 80%;
        height: 400px;
    }
    .card img{
        height: 350px;
    }
    .info-boxes{
        margin: 50px 0 50px 0;
    }
    .info-box{
        width: 125px;
        height: 200px;
        font-size: 10px;
    }
}
@media screen and (max-width: 500px){
    header h1{
        width: 80%;
        top: 300px;
        font-size: 35px;
    }
    header h2{
        width: 80%;
        top: 450px;
        font-size: 25px;
    }
    .card{
        height: 250px;
    }
    .card img{
        height: 200px;
    }
    footer{
        height: 150px;
        font-size: 100%;
    }
}

@media screen and (max-width: 380px){
    .info-box{
        width: 75px;
        height: 150px;
        font-size: 8px;
    }
}